<div *ngIf="auth.isAuthenticated()" class="container">
  <div class="row">
    You are logged in!
  </div>

  <div class="row">
    <div class="card" style="width: 18rem;" *ngFor="let course of courses">
      <div class="card-body">
        <h5 class="card-title">{{course.title}}</h5>
        <p class="card-text">{{course.description}}</p>
        <a [attr.href]="course.link" class="card-link">Link</a>
      </div>
    </div>
  </div>

  <h4 *ngIf="!auth.isAuthenticated()">
    You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
  </h4>

</div>
